POSTGRES_DB=medbox
POSTGRES_USER=medbox
POSTGRES_PASSWORD=medbox123
PGADMIN_DEFAULT_EMAIL=admin@medbox.com
PGADMIN_DEFAULT_PASSWORD=admin123
RELAY_MODE=gpio
GPIO_CHIP=/dev/gpiochip0
RELAY_PULSE_MS=2000
RELAY_MIN_GAP_MS=2500
RELAY_ACTIVE_LOW=true
RELAY_IDLE_INPUT=true
RELAY_API_URL=
ROBOT_API_URL=
ROBOT_IP=
